:root {
  --bg-color: #141517;
  --txt-color: rgba(255, 255, 255, 0.87);

  --primary: #3b82f6;
  --primary-hover: #2563eb;
  --info: #06b6d4;
  --info-hover: #0891b2;
  --success: #10b981;
  --success-hover: #059669;
  --warning: #f97316;
  --warning-hover: #ea580c;
  --error: #ef4444;
  --error-hover: #dc2626;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--txt-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #213547;
    --txt-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
